.nav-container
{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}

.exercise1{
    height: 400px;
    border-radius: 50px;
    border: 3px solid black;
    overflow: hidden;
}
.ex1c1{
    background-color: #6bb56b;
}
.ex1c2{
    background-color: #299bff;
    padding: 1rem;
}
.part1{
    background-color: #fff7bd;
    height: 130px;
}
.part2{
    background-color: #ffed69;
    height: 130px;

}
.part3{
    background-color: #ffe41f;
    height: 130px;

}

.exercise2{
    gap: 30px;
}
.exercise2 span{
    font-weight: bold;
    font-size: 2rem;
}
.exercise3{
    gap: 30px;

}
.card-img{
    
    width: 750px;
    height: 300px;
    background-color: grey;
}
.controls{
    width:fit-content;
    margin: 0 auto;

}
.list{
    list-style: none;
    columns: 2;

    
}
.moreText{
    font-size:1.5rem;

}

.exercise5{
    columns: 3;
}
.footer-header{
    display: block;
    margin: 0.75rem 0;
    font-size: 1.25rem;
}
.exercise5 p{
    display: block;
    width: 200px
}